body {
    background-color: lightgray;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    position: relative;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(./assets/photos/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.typer-effect {
    font-size: 4rem;
    margin: 20px 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
}

.logo {
    width: 250px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.language {
    font-size: 2rem;
    margin: 20px 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navelement {
    display: block;
    padding: 10px;
    background-color: gray;
    color: white;
    transition-duration: 0.7s;
    text-align: center;
    width: 100px;
    margin: 10px 0;
}

.navelement:hover {
    background-color: lightsteelblue;
    color: blue;
    cursor: pointer;
    transform: translateX(20px);
}

.navelement-link {
    text-align: center;
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
}
